# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Third-party APIs
# =========================
dobot/**
!dobot/README.md